.container {
  padding: 20px;
}
h1{
  color: #167b7b;
}

.pageHeader {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.homeButton, .activeButton {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homeButton:hover {
  background-color: #167b7b;
}

.activeButton {
  background-color: #167b7b;
  cursor: default;
}

.searchForm {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.searchButton {
  padding: 10px 20px;
  background-color: #167b7b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.searchButton:hover {
  background-color: #20add8;
}

.loading, .error {
  text-align: left;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

.noResults {
  text-align: left;
  font-size: 20px;
  color: red;
  margin-top: 20px;
}
