.container {
    padding: 20px;
}

.castList {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.castItem {
    text-align: center;
}

.castItem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.castItem p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    text-transform: capitalize;
}

.loader {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
p {
    text-align: left;
        color: #888;
        font-size: 16px;
        margin-top: 20px;
}

