.container {
    padding: 20px;
    
}

.title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #094242;
    font-family: Arial, Helvetica, sans-serif;
}

.movieList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.movieItem {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.movieLink {
    text-decoration: none;
    color: #167b7b;
    font-family: Arial, Helvetica, sans-serif;
    
}
.movieLink:hover{
    color: #094242;
}

.active {
    color: #ff9800;
    font-weight: bold;
    border-left: 4px solid #ff9800;
    padding-left: 8px;
}