.container {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: left;
    padding: 10px;
    font-size: 30px;
    
}

.navigation {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.navButton {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.navButton:hover {
    background-color: #0056b3;
}

.movieList {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 10px;
}



.movieList h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.movieItem {
    margin-bottom: 10px;
    
}

.movieLink {
    text-decoration: none;
    color: #000;
    
}


.movieLink:hover {
    color: #007bff;
}